@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
body, html {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  /*Colors Variables*/
  --black: #101010;
  --grey: #535353;
  --light-grey: #DCDCDC;
  --white: #FFFFFF;
  --red: #F05353
}
a {
  text-decoration: none;
}
div, h1, h2, h3, h4, h5, h6, a, button, li, input {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}
.btn {
  padding: 0;
}
.btn-check:focus+.btn, .btn:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
#app {
  background-color: var(--white);
}
/* Header */
.header {
  background: #ffffffd2;
  backdrop-filter: blur(6px);
  border-bottom: 1px solid var(--light-grey);
}
.header-container {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.logo {
  -ms-transform: translateY(10%);
  transform: translateY(10%);
  fill: var(--black);
  width: 7rem;
}
.logo:hover {
  fill: var(--grey);
}
.menu-container {
  float: right;
}
.pic {
  width: 2.2rem;
  border-radius: 50%;
}
.pic:hover {
  -webkit-filter: brightness(0.9);
  -moz-filter: brightness(0.9);
  filter: brightness(0.9);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  background: var(--white);
  -webkit-box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 30px 5px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 3px;
}
.dropdown-item {
  color: var(--grey);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.dropdown-item:hover {
  background: var(--white);
  color: var(--black);
  font-weight: 500;
}
.dropdown-item.active, .dropdown-item:active {
  color: var(--black);
  background-color: var(--white);
}
.router-link-active {
  text-decoration: none;
}
.active {
  color: var(--black);
  font-weight: 500;
  text-decoration: none;
}
/* Footer */
.footer {
  width: 100%;
  bottom: 0px;
  background: var(--white);
  border-top: 1px solid var(--light-grey);
}
.footer-container {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}
.made {
  color: var(--black);
  font-weight: 500;
  fill: var(--grey);
  transition: 0.5s;
}
.made:hover {
  fill: var(--red);
}
.love {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  width: 1rem;
}
.social-networks {
  float: right;
}
.social-icon {
  display: inline-block;
  width: 1.1rem;
  height: 1rem;
  background-size: 1.1rem 1rem;
  background-repeat: no-repeat;
  margin-right: 1rem;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.5s;
}
.social-icon:hover {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.twitter {
  background-image: url('twitter.png');
}
.instagram {
  background-image: url('instagram.png');
}
.linkedin {
  background-image: url('linkedin.png');
}
.github {
  background-image: url('github.png');
  margin-right: 0;
}
/* Home */
.home {
  margin-top: 10rem;
  margin-bottom: 6rem;
  text-align: -webkit-center;
}
.hi {
  font-weight: 500;
  letter-spacing: -0.02em;
  color: var(--grey);
  font-size: 1.25rem;
}
.me {
  display: block;
  width: 18rem;
  margin-bottom: 1.6rem;
}
.section-container {
  margin-top: 7rem;
}
.section {
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  font-size: 0.9rem;
}
/* Projects */
.project-container {
  display: grid;
  margin-top: 5.5rem;
  margin-bottom: 8rem;
}
.project-number {
  width: 3rem;
  margin-bottom: 1.5rem;
}
.project-tagline {
  font-size: 1rem;
  font-weight: 500;
  color: var(--grey);
  margin-bottom: 3rem;
}
.project-title {
  color: var(--black);
  font-weight: bold;
  letter-spacing: 0.02em;
  margin-bottom: 1rem;
}
.project-description {
  margin: auto;
  width: 98%;
  color: var(--grey);
  letter-spacing: 0.01em;
  font-weight: 500;
  margin-bottom: 4rem;
}
.project-screenshot {
  width: 85%;
  border: 1px solid #EFEFEF;
  -webkit-box-shadow: 0px 10px 37px 20px rgba(138, 138, 138, 0.25);
  -moz-box-shadow: 0px 10px 37px 20px rgba(138, 138, 138, 0.25);
  box-shadow: 0px 10px 37px 20px rgba(138, 138, 138, 0.25);
  border-radius: 3px;
  margin-bottom: 3rem;
}
.project-screenshot:hover {
  -webkit-box-shadow: 0px 10px 37px 20px rgba(92, 92, 92, 0.25);
  -moz-box-shadow: 0px 10px 37px 20px rgba(92, 92, 92, 0.25);
  box-shadow: 0px 10px 37px 20px rgba(92, 92, 92, 0.25);
}
.radio {
  width: 40%;
}
.project-technologies {
  font-weight: 600;
  color: var(--black);
  text-transform: uppercase;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}
.techno-item {
  height: 2rem;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
}
.techno-item:hover {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
/* Skills */
.skills-container {
  margin-top: 6rem;
  margin-bottom: 10rem;
}
.card {
  margin-top: 5rem;
  border: none;
  background: var(--white);
  -webkit-box-shadow: 0px 4px 60px 40px rgba(235, 235, 235, 0.2);
  -moz-box-shadow: 0px 4px 60px 40px rgba(235, 235, 235, 0.2);
  box-shadow: 0px 4px 60px 40px rgba(235, 235, 235, 0.2);
  border-radius: 5px;
  -webkit-filter: grayscale(1);
  -moz-filter: grayscale(1);
  filter: grayscale(1);
  transition: 0.5s;
}
.card:hover {
  -webkit-filter: none;
  -moz-filter: none;
  filter: none;
}
.card-techno {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  height: 3.2rem;
}
.card-title {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
  color: var(--black)
}
.text-muted { 
  color: var(--grey);
  padding-bottom: 1.5rem;
}
/* About */
.about-me {
  margin-top: 5rem;
  display: grid;
  line-height: 133.1%;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 500;
  color: var(--grey);
  font-size: 1.1rem;
}
.available {
  display: block;
  margin-top: 2.2rem;
  margin-bottom: 6rem;
  color: var(--black);
  font-weight: 600;
  font-size: 1.1rem;
  letter-spacing: 0.02em;
}
.contact {
  background: var(--white);
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  width: 15rem;
  height: 3rem;
  line-height: 42px;
  color: var(--grey);
  font-weight: 600;
}
.contact:hover {
  border: 2px solid var(--grey)
}



@media only screen and (max-width: 768px) {
  .radio {
    width: 70%;
  }
  .made-container {
    display: none;
  }
  .social-networks {
    text-align: center;
    float: none;
  }
}